<!DOCTYPE html>
<html>
  <head>
    <title>Odapark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark"style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Odapark</a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Tutorial</a></li>
        </div>
      </nav>
      <main>
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </body>
  </html>
